@viewport {
  width: device-width;
}

@viewport {
  zoom: 0.75;
  min-zoom: 0.5;
  max-zoom: 0.9;
}

// CSS Resets

html {
  scroll-behavior: smooth;
  min-height: 100%;
  body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    font-size: 14px;

    * {
      padding: 0;
      outline: none;
      font-size: 14px;
    }
  }
}

body[dir="rtl"] {
  * {
    direction: rtl;
  }
}

.clear {
  width: 0;
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
i,
address,
b {
  font-weight: normal;
  margin: 0;
  font-style: normal;
}

p {
  margin: 0;
}

a,
a:hover {
  text-decoration: none !important;
}

dl,
ol,
ul {
  list-style: none;
  margin: 0;
}

a,
i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.content {
  padding: 0px 120px 0px;
}